<div class="container">
    <div class="row mt-5">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
                <div class="alert alert-danger" role="alert" *ngIf="showAlert">
                    <strong>ERROR!</strong> {{message}}.
                </div>
            <h5 class="card-title text-center">Ingresa</h5>
            <form class="form-signin" [formGroup]="dataForm" (ngSubmit)="login(dataForm.value)">
              <div class="form-label-group">
                <input type="text" class="form-control" placeholder="usuario" formControlName="user" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="password" class="form-control" placeholder="Password" formControlName="pass" required>
                <label for="inputPassword">Password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Ingresar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>